.App {
  text-align: center;
  background-color: #1D1D1D;
  height: 622px;
}

.App-header {
  font-family: Consolas;
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

